<html>
  <head></head>
  <body>
    <form>
      <input type = 'text' name = 'guess' />
      <input type = 'submit' value = 'Guess!' />
    </form>
    <p>
      The SECRET NUMBER is <%= num %>
    </p>
  </body>
</html>
